html {
  background-color: gray-900;
}

h1 h2 h3 h4 h5 h6 p {
  padding: 0;
  margin: 0;
  border: 0;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgimg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url("./images/insidemain.jpeg");
  height: 95vh;
}

.carousel {
   max-height: 500px;
   overflow: hidden;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

.headings {
  padding: 20px 15% 20px 15%;
}

.ratings-buttons {
  padding: 500;
  margin: 0;
}

.web-body {
  padding-left: 15%;
  padding-right: 15%;
  padding-bottom: 70px;
}

.popup {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-popup {
  width: 600px;
}

.station-image {
  height: 40vh;
  object-fit: cover;
  overflow: hidden;
}

.small-btn {
  padding: 20px;
  border-radius: 5px;

}

.web-col-left {
  padding-right: 50px;
}

.web-col-right {
  padding-left: 50px;
}

.fill {
  width: 100%;
  height: 100%;
}